@font-face {
    font-family: Poppins-Regular;
    src: url(fonts/Poppins-Regular.ttf);
}

body {
    font-family: Poppins-Regular;
    font-size: 1em;
    text-align: center;
}

#submitb {
    width: 150px;
}