@font-face {
    font-family: Poppins-Regular;
    src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: LEMONMILK-Regular;
    src: url(../fonts/LEMONMILK-Regular.otf);
}

body {
    font-family: LEMONMILK-Regular;
    font-size: 1.5em;
}