* {
    font-family: OpenSans, Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.ttf);
}

body {
    font-size: 1.5em;
    text-align: center;
}